/* google-font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5%;
}

/* styles-navbar */
.nav-bar {

    display: flex;
    justify-content: space-between;
}

header nav span a {
    text-decoration: none;
    margin: 20px;

}

.container {
    display: flex;
    margin-bottom: 100px;
}

.first-blog,
.first-blog-img {
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
}

button {
    background-color: mediumorchid;
    color: aliceblue;
    padding: 8px;
    padding-right: 50px;
    border-radius: 20px;
    border-color: none;

}

/* banner and image section end */

/* logo section start */

.logo-sec {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.logo-sec svg {

    margin-right: 100px;
}

/* Logo section end */

/* popular collection start */

.collection-main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(171, 170, 170);
    margin: 10px;
}



.collection-blog {
    border: 1px solid yellowgreen;
    padding: 10px;
    background-color: antiquewhite;
}






/* footer start */
footer {
    background-color: darkslateblue;
    padding: 30px;
}



/* foooter end */